.page {
  display: flex;
  flex-direction: column;
  background-color: #F8F9FA;
  font-size: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70px;
  border: 1px solid black;
}

.header__action {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.hero {
  padding: 40px 80px;
  border-bottom: 1px solid black;
}

.hero__image {
  border: 1px solid black;
  height: 300px;
}

.top-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 30px;
}

.top-products__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-carousel {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 30px;
}

.product-card {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.categories {
  padding-top: 30px;
  padding: 40px 150px;
}

.categories-container {
  border: 1px solid black;
  padding: 20px;
  height: 300px;
}

.about {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 10px 20px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #13131D;
  padding: 50px 100px;
  color: #F8F9FA;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__logo {
  display: flex;
  border: 1px solid #F8F9FA;
  padding: 20px;
}

.footer__column-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-left: 400px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  padding: 20px;
}