.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.button {
  width: 140px;
  height: 40px;
  border-radius: 30px;
  background-color: #1E1E2E;
  border: 1px solid #F8F9FA;
  color: #F8F9FA;
  font-size: 10px;
  font-weight: 700;
}

.form__input {
  width: 330px;
  height: 35px;
  border: 1px solid #929292;
  padding-left: 10px;
  border-radius: 8px;
}